{{ partial "header.html" . }}
<body>
  <script>
  fbq('track', 'ViewContent');
  </script>
  {{ partial "menu.html" . }}
<div id="wrap">
	<div class="mwt-container">
		<div class="mwt-row-b single">
			<div id="product-detail">
				<section>
					<div class="mwt-row-b">
							<div class="mwt-col-sm-5 mwt-col-sm-push-7">
								<h1>{{- .Params.sgTitle | safeHTML }}</h1>
								<p>{{- .Params.txt | safeHTML }}</p>
								<div id="silder" class="visible-xs">
									<div class="detail-img">
										<img src="{{ .Params.img}}" alt="{{ .Title }}" class="Img">
									</div>
									<div class="mwt-row-b silder-list">
											{{if .Params.productimg }}
											   {{range .Params.productimg}}
											     <div class="mwt-col-3">
															<div class="cell">
																<a href="#">
																	<img src="{{ .| relLangURL }}"class="Img">
																</a>
														</div>
													</div>
											   {{end}}
											 {{end}}
										</div>
									</div>
								{{- if not (eq .Params.ps "" )}}
								<p class="ps">
									※ {{- .Params.ps| safeHTML }}	<br>
									<!--※ 此非測試平台，如無需購買，請勿下單-->
								</p>
								{{end}}
								<product barcode="{{ .Params.codenum}}">
							</div>
							<div class="mwt-col-sm-7 mwt-col-sm-pull-5">
								<div id="silder" class="hidden-xs">
									<div class="detail-img">
										<img src="{{ .Params.img}}" alt="{{ .Title }}" class="Img">
									</div>
									<div class="mwt-row-b silder-list">
											{{if .Params.productimg }}
											   {{range .Params.productimg}}
											     <div class="mwt-col-3">
															<div class="cell">
																<a href="#">
																	<img src="{{ .| relLangURL }}"class="Img">
																</a>
														</div>
													</div>
											   {{end}}
											 {{end}}
										</div>
									</div>
							</div>
						</div>
					</section>
					<section class="product-info">
							<div class="mwt-row-b">
							<div class="mwt-col-12">
								{{ .Content }}
							</div>
							<div class="buy-btn mwt-col-12">
								{{- if not (eq .Params.ps "")}}
								<p class="ps">
									※ {{.Params.ps| safeHTML}}	<br>
									<!--※ 此非測試平台，如無需購買，請勿下單-->
								</p>
								{{- end }}
								 <product barcode="{{ .Params.codenum}}">
							</div>
						</div>
				</section>
				{{- if not .Params.related }}
					{{- else }}
					<section class="mwt-col-product">
						<h2>相關產品</h2><br><br>
								<div class="list">
										<div class="mwt-row-b">
											{{- range (where .Site.Pages  "Params.slug" "in" .Params.related)  }}
												{{- if (eq .Type "post") }}
												<div class="mwt-col-md-4">
														<section>
					       							<div class="mwt-col-xs-5 meta-img">
					       								<a href="{{ .Permalink }}" title="{{ .Title }}">
					       								 <img src="{{ .Params.img}}" alt="" class="img-responsive">
					       								</a>
					       							</div>
					       							<div class="mwt-col-xs-7 meta-link">
																<h2><a href="{{ .Permalink }}">{{ .Params.catTitle | safeHTML }}</a></h2>
					       							</div>
					       							<div class="mwt-col-xs-12 meta-price">
					       								<product barcode="{{ .Params.codenum}}">
					       							</div>
					       					</section>
												</div>
											{{- end }}
										{{- end }}
									</div>
								</div>
							</section>
					{{- end }}
			</div>
		</div><!--mwt-row-b-->
	</div><!-- mwt-container-->
</div><!-- wrap-->
  {{ partial "footer.html" . }}
  <script>
  $(function(){
		var DROPDOWN = 'dropdown'
    var ON = 'on'
    var SLIDETOGGLE_SPEED = 'slow'
    var ARmwt-row-b = '<b class="armwt-row-b"></b>'
    var $nav = $('ul.nav')
    $nav.find('li>ul').prev().addClass(DROPDOWN).append(ARmwt-row-b)
    $nav.find('li>a>b').click(function (event) {
      event.preventDefault();
      $(this).toggleClass(ON);
      $(this).parent().next().slideToggle(SLIDETOGGLE_SPEED);
    });

    $(window).resize(function () {
      if($(window).width()>768){
        $nav.find('li a b').removeClass(ON);
        $nav.find('.sub-menu').css('display', '');
      }
    });

		$('#product img').addClass('img-responsive');
		$('#product-detail img').addClass('img-responsive');

		$('.silder-list>div>div>a').click(function(){
			 $('.silder-list>div>div>a').parent().removeClass('active');
			 $(this).parent().addClass('active');
			  var get_img = $(this).find('img').attr('src');
			 	 $(".detail-img>img").fadeOut(400, function(){
         $(".detail-img>img").attr('src',get_img);
        }).fadeIn(400);

			 return false;
		});

	});</script>
</body>
</html>