{{ $title := lower .Title}}{{ $desc := ""}}{{ range $key, $value := .Site.Params.categories }}{{ if eq $key $title }}{{ $desc = $value }}{{ end }}{{ end }}
<div id="wrap">
	<div class="mwt-container">
		<div id="product">
			<div class="mwt-row">
				<section class="mwt-col-12 art-section">
					<h1>
					{{- $h1 := index $desc 0}}
					{{- if not (eq $h1 nil)}}
						{{- $h1}}
					{{- else}}
						{{- .Title}}
				{{- end}}
				</h1>
{{- .Content}}
			</section>
				{{ $paginator := .Paginate (where .Pages "Type" "post") }}
					{{ range $paginator.Pages }}
					<section class="mwt-col-md-3 mwt-col-sm-6 mwt-col-6">
						<div class="post">
							<a href="{{ .Permalink }}" title="{{ .Title }}">
								 <img src="{{.Params.img}}">
							</a>
							<!--<span class="cat">
							 	{{if .Params.categories }}
      						{{range .Params.categories}}
      							<a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>,
      						{{end}}
    						{{end}}
							</span>-->
							<h2><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Params.catTitle | safeHTML }}</a></h2>
							 <product barcode="{{ .Params.codenum}}">
						</div>
					</section>
					 {{ end }}
					<div class="mwt-col-12">
						<div class="page-nav">
						  {{ partial "pagination.html" . }}
						</div>
					</div>
				</div>
		</div>
	</div><!-- container-->
</div><!-- wrap-->