<footer id="footer">
  <div class="mwt-container">
    <div class="mwt-row-b">
      <div class="mwt-col-sm-4">
        <h3>顧客服務</h3>
        <ul>
          <li><a href="{{ .Site.BaseURL | absURL }}info.html">購物說明</a></li>
          <li><a href="{{ .Site.BaseURL | absURL }}invoice.html">發票問題</a></li>
          <li><a href="{{ .Site.BaseURL | absURL }}returns.html">退貨/退款說明</a></li>
        </ul>
      </div>
      <div class="mwt-col-sm-4 col-sm-push-4">
        <h3>廠商合作</h3>
        <ul>
          <li><a href="{{ .Site.BaseURL | absURL }}form.html">填寫合作表單</a></li>
        </ul>
      </div>
      <div class="mwt-col-sm-4 col-sm-pull-4">
        <h3>聯絡我們</h3>
        <ul>
          <li>聯絡電話：02-23885319</li>
          <li>EMail：minwto@gmail.com</li>
          <li>客服時間：週一至週五 10:00-17:30(國定假日休假)</li>
        </ul>
      </div>

    </div>
  </div>
  <b>©2019 梅問題購物網 minwt.com.tw</b>
</footer>
  <script src="{{ "jquery.min.js" | absURL }}"></script>
  <script>
    $(function(){
        $('.silder-list>div>div>a').click(function(){
          $('.silder-list>div>div>a').parent().removeClass('active');
          $(this).parent().addClass('active');
          var get_img = $(this).find('img').attr('src');
          //$('.detail-img>img').attr('src',get_img);
           $(".detail-img>img").fadeOut(400, function(){
              $(".detail-img>img").attr('src',get_img);
            }).fadeIn(400);

          return false;
        });
    });
  </script>
  <!-- add Ushop API -->
  <script async src=https://api.ushop.cool/tool/scripts/main.js shop=5502a9055fd0311a00ba8229></script>
  <script>
  window.dialogCloseEvent = function () {
    location.reload();
  };
  </script>
  <!-- add Ushop API end-->
  <!-- Global site tag (gtag.js) - Google Analytics (by minwt.com.tw)-->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-3183740-31"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-3183740-31');
  </script>

  <!-- Global site tag (gtag.js) - Google Ads: 777975219 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-777975219"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-777975219');
  </script>