<!doctype html>
<html>
<head>
  {{- $title := lower .Title}}
    {{- $desc := ""}}
      {{- range $key, $value := .Site.Params.categories }}
      {{- if eq $key $title }}
        {{- $desc = $value }}
    {{- end }}
  {{- end }}
  <title>
    {{- if .IsHome -}}
      {{- .Site.Title -}}－只挑好產品
    {{- else if .IsPage -}}
      {{- .Title}}－{{- .Site.Title -}}
    {{- else -}}
      {{- .Title}}－{{ .Site.Title -}}
    {{- end -}}
  </title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{ .Params.description }}{{end}}" />
  <link rel="icon" type="image/png" href="{{ "img/fav.png" | absURL }}">
  <link rel="stylesheet" href="{{ "mwt-bootstrap-grid.css" | absURL }}" type="text/css">
  <link rel="stylesheet" href="{{ "googlefont.css" | absURL }}" type="text/css">
  <link rel="stylesheet" href="{{ "mystyle.css" | absURL }}" type="text/css">
  <link rel="canonical" href="{{ .Permalink }}">
  {{if not .IsHome}}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "BlogPosting",
      "mainEntityOfPage": {
          "@type": "WebPage"
      },
      "name": "{{ .Title }}",
      "image": {
          "@type": "ImageObject",
          "url": "{{ .Params.img }}",
          "width": 600,
          "height": 600
      },
      "url": "{{ .Permalink }}",
      "description": "{{ .Params.description }}",
            "author": "梅干",
      "datePublished":"{{ .Params.date }}",
      "headline":"{{ .Title }}",
      "dateModified":"{{ .Params.date }}",
          "publisher": {
            "@type":"Organization",
            "name":"{{ .Site.Title }}",
            "logo": {
            "@type": "ImageObject",
            "url": "{{ "images/fav.png" | absURL }}"
        }
      }
    }
  </script>
  <!-- Facebook og tag -->
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ .Title }}" />
  <meta property="og:description" content="{{ .Params.description }}" />
  <meta property="og:url" content="{{ .Site.BaseURL | absURL }}{{ .Params.folder }}{{ .Params.slug }}" />
  <meta property="og:site_name" content="{{ .Site.Title }}" />
  <meta property="og:image" content="{{ .Params.img }}" />
  <!-- Google+ -->
  <meta itemprop="name" content="{{ .Title }}" />
  <meta itemprop="description" content="{{ .Params.description }}" />
  <!-- Twitter Cards -->
  <meta name="twitter:title" content="{{ .Title }}" />
  <meta name="twitter:url" content="{{ .Params.img }}" />
  <meta name="twitter:description" content="{{ .Params.description }}" />
  <meta name="twitter:card" content="summary_large_image" />
  <link rel="canonical" href="{{ .Site.BaseURL | absURL }}{{ .Params.folder }}{{ .Params.slug }}" />
  {{ else }}
   <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "BlogPosting",
        "mainEntityOfPage": {
            "@type": "WebPage"
        },
        "name": "梅問題購物網",
        "image": {
            "@type": "ImageObject",
            "url": "https://www.minwt.com.tw/assets/images/carousel-02.jpg",
            "width": 1920,
            "height": 1280
        },
        "url": "{{ .Permalink }}",
        "description": "用手機記錄你的生活，梅問題購物中，將提供手機各式的配件，讓你的精彩、你的態度、你的隨心所欲，以及你的美好一切，都能透過手機記錄下來",
              "author": "梅干",
        "datePublished":"2019-02-27T14:00:00+08:00",
        "headline":"梅問題購物網",
        "dateModified":"2019-02-27T14:00:00+08:00",
            "publisher": {
              "@type":"Organization",
              "name":"梅問題購物網",
              "logo": {
              "@type": "ImageObject",
              "url": "https://www.minwt.com.tw/assets/images/carousel-02.jpg"
          }
        }
      }
    </script>
    <!-- Facebook og tag -->
    <meta property="og:type" content="article" />
    <meta property="og:title" content="梅問題購物網" />
    <meta property="og:description" content="用手機記錄你的生活，梅問題購物中，將提供手機各式的配件，讓你的精彩、你的態度、你的隨心所欲，以及你的美好一切，都能透過手機記錄下來" />
    <meta property="og:url" content="https://www.minwt.com.tw" />
    <meta property="og:site_name" content="梅問題購物網" />
    <meta property="og:image" content="https://www.minwt.com.tw/assets/images/carousel-02.jpg" />
    <!-- Google+ -->
    <meta itemprop="name" content="梅問題購物網" />
    <meta itemprop="description" content="用手機記錄你的生活，梅問題購物中，將提供手機各式的配件，讓你的精彩、你的態度、你的隨心所欲，以及你的美好一切，都能透過手機記錄下來" />
    <!-- Twitter Cards -->
    <meta name="twitter:title" content="梅問題購物網" />
    <meta name="twitter:url" content="https://www.minwt.com.tw/assets/images/carousel-02.jpg" />
    <meta name="twitter:description" content="用手機記錄你的生活，梅問題購物中，將提供手機各式的配件，讓你的精彩、你的態度、你的隨心所欲，以及你的美好一切，都能透過手機記錄下來" />
    <meta name="twitter:card" content="summary_large_image" />
  {{ end }}
  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1710546242516116');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1710546242516116&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Facebook Pixel Code -->
</head>