<section id="home-hero">
  <div class="mwt-container">
    <div class="mwt-row-b">
      <div class="mwt-col-sm-8">
        <div class="hero-box">
          <a href="/tags/gametogo/"><img  class="Img" src="images/home/hero-left.jpg"></a>
        </div>
      </div>
      <div class="mwt-col-sm-4">
        <div class="mwt-row-b">
          <div class="mwt-col-6 mwt-col-sm-12">
            <a href="/tags/spyder/"><img class="Img" src="images/home/hero-right-top.jpg"></a>
          </div>
          <div class="mwt-col-6 mwt-col-sm-12">
            <a href="/tags/配件/"><img class="Img" src="images/home/hero-right-bottom.jpg"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="popular-product">
  <div class="mwt-container">
    <h3>GameToGo 讓蘋果也可玩Windows遊戲！插上GameToGo 讓 MAC 秒變 Windows！</h3>
    <h2 class="add-line">GameToGo<br class="visible-xs">(MAC雙系統隨身碟)</h2>
    <div class="mwt-row-b">
      <div class="mwt-col-12 mwt-col-sm-3">
        <a href="gametogo/gametogo-dock.html">
          <div class="mwt-row-b">
            <div class="mwt-col-sm-12 mwt-col-4">
              <img src="images/product/GameToGo/dock/gametogo-dock_01.jpg" class="Img">
            </div>
            <div class="mwt-col-sm-12 mwt-col-8">
              <b>GAMETOGO DOCK 多功能轉接器</b><br>內建Windows系統 / 512GB<br><br>
            </div>
          </div>
        </a>
        <product barcode="gm-dock">
      </div>
      <div class="mwt-col-12 mwt-col-sm-3">
        <a href="gametogo/gametogo-pro-256g.html">
          <div class="mwt-row-b">
            <div class="mwt-col-sm-12 mwt-col-4">
              <img src="images/product/GameToGo/gametogo-pro/gametogopro-01.jpg" class="Img">
            </div>
            <div class="mwt-col-sm-12 mwt-col-8">
              <b>GAMETOGO Pro版 256GB</b><br>(最高 1000 MB/s讀寫速度)<br><br>
            </div>
          </div>
        </a>
        <product barcode="gmpro-256g">
      </div>
      <div class="mwt-col-12 mwt-col-sm-3">
        <a href="gametogo/gametogo-pro-512g.html">
         <div class="mwt-row-b">
            <div class="mwt-col-sm-12 mwt-col-4">
              <img src="images/product/GameToGo/gametogo-pro/gametogopro_02.jpg" class="Img">
            </div>
            <div class="mwt-col-sm-12 mwt-col-8">
              <b>GAMETOGO Pro版 512GB</b><br>(最高 1000 MB/s讀寫速度)<br><br>
            </div>
          </div>
        </a>
        <product barcode="gmpro-512g">
      </div>
      <div class="mwt-col-12 mwt-col-sm-3">
        <a href="gametogo/gametogo-256g.html">
          <div class="mwt-row-b">
            <div class="mwt-col-sm-12 mwt-col-4">
              <img src="images/product/GameToGo/gametogo-basic/gametogo_02.jpg" class="Img">
            </div>
            <div class="mwt-col-sm-12 mwt-col-8">
              <b>GAMETOGO 入門版 256GB</b><br>(最高 500 MB/s讀寫速度)<br><br>
            </div>
          </div>
        </a>
        <product barcode="gm-256g">
      </div>
    </div><!-- mwt-row-b -->
  </div>
</section>

<section class="mwt-container">
  <div class="gCol-row">
    <div class="Trend-main">
      <a href="/tags/spyder/">
        <img src="images/home/Trend-main-center.jpg" class="Img">
      </a>
    </div>
    <div class="Trend-secondary Trend-secondary--first">
      <a href="/dt-sxe100.html">
        <img src="images/home/Trend-main-left.jpg" class="Img">
      </a>
    </div>
    <div class="Trend-secondary Trend-secondary--last">
      <a href="/dt-sxp100.html">
        <img src="images/home/Trend-main-right.jpg" class="Img">
      </a>
    </div>
  </div>
</section>
<section id="hot-product">
  <div class="mwt-container">
    <h2 class="add-line">精選商品</h2>
    <div class="mwt-row-b">
      <!-- 5 to 8 -->
      <div class="mwt-col-12 mwt-col-sm-3">
        <a href="/dt-sxe100.html">
          <div class="mwt-row-b">
            <div class="mwt-col-sm-12 mwt-col-4">
              <img src="images/product/datacolor/dt-sxe100/dt-sxe100_00.jpg" class="Img">
            </div>
            <div class="mwt-col-sm-12 mwt-col-8">
              <b>Datacolor SpyderX Elite </b><br>螢幕校色器-頂尖組<br><br>
           </div>
          </div>
        </a>
        <product barcode="dt-sxe100">
      </div>

      <div class="mwt-col-12 mwt-col-sm-3">
        <a href="/dt-sxp100.html">
          <div class="mwt-row-b">
            <div class="mwt-col-sm-12 mwt-col-4">
              <img src="images/product/datacolor/dt-sxp100/dt-sxp100_00.jpg" class="Img">
            </div>
            <div class="mwt-col-sm-12 mwt-col-8">
              <b>Datacolor SpyderX Pro </b><br>螢幕校色器-專業組<br><br>
            </div>
          </div>
        </a>
        <product barcode="dt-sxp100">
      </div>

      <div class="mwt-col-12 mwt-col-sm-3">
        <a href="/dt-sc200.html">
          <div class="mwt-row-b">
            <div class="mwt-col-sm-12 mwt-col-4">
              <img src="images/product/datacolor/dt-sc200/dt-sc200_00.jpg" class="Img">
            </div>
            <div class="mwt-col-sm-12 mwt-col-8">
              <b>Datacolor Spyder Cube </b><br>立體灰卡<br><br>
            </div>
          </div>
        </a>
        <product barcode="dt-sc200">
      </div>
      <div class="mwt-col-12 mwt-col-sm-3">
        <a href="/dt-sck100.html">
          <div class="mwt-row-b">
            <div class="mwt-col-sm-12 mwt-col-4">
              <img src="images/product/datacolor/dt-sck100/dt-sck100_00.jpg">
            </div>
            <div class="mwt-col-sm-12 mwt-col-8">
              <b>Datacolor Spyder Checkr </b><br>數位影像校正色卡<br><br>
            </div>
          </div>
        </a>
        <product barcode="dt-sck100">
      </div>
      <!-- 5 to 8 end-->
       <!-- 1 to 4 -->
      <div class="mwt-col-12 mwt-col-sm-3">
        <a href="/leofoto/leofoto-pc90.html">
          <div class="mwt-row-b">
            <div class="mwt-col-sm-12 mwt-col-4">
              <img src="images/product/Leofoto/PC90/PC90_00.jpg" class="Img">
            </div>
            <div class="mwt-col-sm-12 mwt-col-8">
              <b>徠圖 Leofoto PC90</b><br>萬用手機夾 <small>(iPhone/Android)</small><br><br>
            </div>
          </div>
        </a>
        <product barcode="PC-90">
      </div>

      <div class="mwt-col-12 mwt-col-sm-3">
        <a href="/leofoto/leofoto-mt03.html">
           <div class="mwt-row-b">
            <div class="mwt-col-sm-12 mwt-col-4">
              <img src="/images/product/Leofoto/MT-03/MT-03_03.jpg" class="Img">
            </div>
            <div class="mwt-col-sm-12 mwt-col-8">
              <b style="color:#d0114d;">新品！</b><b>徠圖徠圖 Leofoto MT03</b><br>航舦級7075鋁合金，蜘蛛桌面三腳架<br><br>
            </div>
          </div>
        </a>
        <product barcode="MT-03">
      </div>

      <div class="mwt-col-12 mwt-col-sm-3">
        <a href="/leofoto/leofoto-mbh19.html">
          <div class="mwt-row-b">
            <div class="mwt-col-sm-12 mwt-col-4">
              <img src="images/product/Leofoto/MBH19/MBH19_00.jpg" class="Img">
            </div>
            <div class="mwt-col-sm-12 mwt-col-8">
              <b>徠圖 Leofoto MBH-19</b><br>迷你獨立全景，萬向球形雲台<br><br>
            </div>
          </div>
        </a>
        <product barcode="MBH-19">
      </div>

      <div class="mwt-col-12 mwt-col-sm-3">
        <a href="/mwt-ng-320.html">
          <div class="mwt-row-b">
            <div class="mwt-col-sm-12 mwt-col-4">
              <img src="images/product/mwt/mwt-ng-320/mwt-ng320_00.jpg" class="Img">
            </div>
            <div class="mwt-col-sm-12 mwt-col-8">
              <b>MWT-NG-320(M)</b><br>桌上型秒開攝影台<br><br>
           </div>
          </div>
        </a>
        <product barcode="MWT-NG-320">
      </div>
      <!-- 1 to 4 end -->
    </div><!-- mwt-row-b -->
  </div>
</section>

<section id="blog-post">
  <div class="mwt-container">
    <h2 class="add-line">開箱文</h2>
    <div class="mwt-row-b">
      <div class="mwt-col-sm-4">
         <a href="https://www.minwt.com/mac/21182.html" target="_blank">
          <div class="card-img">
             <img src="images/home/gametogodockhub_00.jpg" class="Img">
          </div>
           <h4>插上 GameToGo MAC 變 Windows</h4>
           <p>GameToGo Dock是連接埠擴充器，內建Windows系統，讓MAC秒變Windows […]</p>
         </a>
      </div>
      <div class="mwt-col-6 mwt-col-sm-4">
         <a href="https://www.minwt.com/mac/21720.html" target="_blank">
          <div class="card-img">
             <img src="images/home/gametogo-macbook-exthd_00.jpg" class="Img">
          </div>
           <h4>GameToGo 變成Macbook容量擴充槽</h4>
           <p>將GameToGo系統槽與儲存槽合併，讓Macbook儲存容量再擴充[…]</p>
         </a>
      </div>
      <div class="mwt-col-6 mwt-col-sm-4">
         <a href="https://www.minwt.com/dc/21502.html" target="_blank">
          <div class="card-img">
             <img src="images/home/5color-bgsatnd_00.jpg" class="Img">
          </div>
           <h4>網拍利器！桌上型秒開攝影台</h4>
           <p>秒開攝影台，網拍商品必備利器，搭配五色背景，讓商品不單調 […]</p>
         </a>
      </div>

    </div>
  </div>
</section>