<header id="header">
  <div class="mwt-container">
    <div class="mwt-row">
      <a href="{{ .Site.BaseURL | absURL }}" class="brand-a"><img src="{{ .Site.BaseURL | absURL }}/img/logo.svg" alt="梅問題購物網" width="280" height="90"></a>
    </div>
  </div>
</header>
<nav id="navbar">
  <div class="mwt-container">
    <div class="mwt-row-b">
      <ul>
        <li><a href="{{ .Site.BaseURL | absURL }}tags/gametogo/">GameToGo</a></li>
        <li><a href="{{ .Site.BaseURL | absURL }}tags/spyder">Spyder校色器</a></li>
        <li><a href="{{ .Site.BaseURL | absURL }}tags/配件">手機攝影配件</a></li>
        <!--<li><a href="#">開箱文</a></li>-->
      </ul>
    </div>
  </div>
</nav>