<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>梅問題購物-首頁</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<link rel="icon" type="image/png" href="http://example.com/myicon.png">
	<link rel="stylesheet" href="mwt-bootstrap-grid.css">
	<link rel="stylesheet" href="mystyle.css">
</head>
<body>
<header id="header">
	<div class="mwt-container">
		<div class="mwt-row">
			<a href="#" class="brand-a"><img src="img/logo.svg" alt="梅問題購物網" width="280" height="90"></a>
		</div>
	</div>
</header>
<nav id="navbar">
	<div class="mwt-container">
		<div class="mwt-row-b">
			<ul>
				<li><a href="#">GameToGo</a></li>
				<li><a href="#">Spyder校色器</a></li>
				<li><a href="#">手機攝影配件</a></li>
				<li><a href="#">開箱文</a></li>
			</ul>
		</div>
	</div>
</nav>
<section id="home-hero">
	<div class="mwt-container">
		<div class="mwt-row-b">
			<div class="mwt-col-sm-8">
				<div class="hero-box">
					<a href="#"><img  class="Img" src="img/hero-left.jpg" alt="" ></a>
				</div>
			</div>
			<div class="mwt-col-sm-4">
				<div class="mwt-row-b">
					<div class="mwt-col-6 mwt-col-sm-12">
						<a href="#"><img class="Img" src="img/hero-right-top.jpg" alt=""></a>
					</div>
					<div class="mwt-col-6 mwt-col-sm-12">
						<a href="#"><img class="Img" src="img/hero-right-bottom.jpg" alt=""></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="popular-product">
	<div class="mwt-container">
		<h3>GameToGo 讓蘋果也可玩Windows遊戲！插上GameToGo 讓 MAC 秒變 Windows！</h3>
		<h2>GameToGo(MAC雙系統隨身碟)</h2>
		<div class="mwt-row-b">
			<div class="mwt-col-6 mwt-col-sm-3">
				<a href="gametogo/gametogo-dock.html">
          <img src="https://www.minwt.com.tw/images/product/GameToGo/dock/gametogo-dock_01.jpg" class="Img">
          <b>GAMETOGO DOCK多功能轉接器<br>內建Windows系統 / 512GB</b><br>
        </a>
        <product barcode="gm-dock">
			</div>
			<div class="mwt-col-6 mwt-col-sm-3">
				<a href="gametogo/gametogo-dock.html">
	    	<img src="https://www.minwt.com.tw/images/product/GameToGo/gametogo-pro/gametogopro-01.jpg" class="Img">
	    	<b>GAMETOGO Pro版 256GB<br>(最高 1000 MB/s讀寫速度)</b><br>
	      </a>
	      <product barcode="gmpro-256g">
			</div>
			<div class="mwt-col-6 mwt-col-sm-3">
				<a href="gametogo/gametogo-dock.html">
	    	<img src="https://www.minwt.com.tw/images/product/GameToGo/gametogo-pro/gametogopro_02.jpg" class="Img">
	    	<b>GAMETOGO Pro版 512GB<br>(最高 1000 MB/s讀寫速度)</b><br>
	      </a>
	      <product barcode="gmpro-512g">
			</div>
			<div class="mwt-col-6 mwt-col-sm-3">
				<a href="gametogo/gametogo-dock.html">
          <img src="https://www.minwt.com.tw/images/product/GameToGo/gametogo-basic/gametogo_02.jpg" class="Img">
          <b>GAMETOGO 入門版 256GB<br>(最高 500 MB/s讀寫速度)</b><br>
        </a>
        <product barcode="gm-256g">
			</div>
		</div><!-- mwt-row-b -->
	</div>
</section>

<section class="mwt-container">
  <div class="gCol-row">
    <div class="Trend-main">
      <a href="maillot-de-bain-maillot-de-bain.html">
            <img src="img/Trend-main-center.jpg" class="Img" alt="">
        </a>
    </div>
    <div class="Trend-secondary Trend-secondary--first">
        <a href="maillot-de-bain-maillot-de-bain.html">
            <img src="img/Trend-main-left.jpg" class="Img" alt="">
        </a>
    </div>
    <div class="Trend-secondary Trend-secondary--last">
        <a href="maillot-de-bain-maillot-de-bain.html">
            <img src="img/Trend-main-right.jpg" class="Img" alt="">
        </a>
    </div>
  </div>
</section>
<section id="hot-product">
	<div class="mwt-container">
		<h2>精選商品</h2>
		<div class="mwt-row-b">
				<div class="mwt-col-6 mwt-col-sm-3">
				<a href="gametogo/gametogo-dock.html">
          <img src="https://www.minwt.com.tw/images/product/GameToGo/dock/gametogo-dock_01.jpg" class="Img">
          <b>GAMETOGO DOCK多功能轉接器<br>內建Windows系統 / 512GB</b><br>
        </a>
        <product barcode="gm-dock">
			</div>
			<div class="mwt-col-6 mwt-col-sm-3">
				<a href="gametogo/gametogo-dock.html">
	    	<img src="https://www.minwt.com.tw/images/product/GameToGo/gametogo-pro/gametogopro-01.jpg" class="Img">
	    	<b>GAMETOGO Pro版 256GB<br>(最高 1000 MB/s讀寫速度)</b><br>
	      </a>
	      <product barcode="gmpro-256g">
			</div>
			<div class="mwt-col-6 mwt-col-sm-3">
				<a href="gametogo/gametogo-dock.html">
	    	<img src="https://www.minwt.com.tw/images/product/GameToGo/gametogo-pro/gametogopro_02.jpg" class="Img">
	    	<b>GAMETOGO Pro版 512GB<br>(最高 1000 MB/s讀寫速度)</b><br>
	      </a>
	      <product barcode="gmpro-512g">
			</div>
			<div class="mwt-col-6 mwt-col-sm-3">
				<a href="gametogo/gametogo-dock.html">
          <img src="https://www.minwt.com.tw/images/product/GameToGo/gametogo-basic/gametogo_02.jpg" class="Img">
          <b>GAMETOGO 入門版 256GB<br>(最高 500 MB/s讀寫速度)</b><br>
        </a>
        <product barcode="gm-256g">
			</div>
			<!-- 4 to 8 -->
			<div class="mwt-col-6 mwt-col-sm-3">
				<a href="gametogo/gametogo-dock.html">
          <img src="https://www.minwt.com.tw/images/product/datacolor/dt-sxe100/dt-sxe100_00.jpg" class="Img">
          <b>Datacolor SpyderX Elite <br>螢幕校色器-頂尖組</b>
        </a>
        <product barcode="dt-sxp100">
			</div>
			<div class="mwt-col-6 mwt-col-sm-3">
				<a href="gametogo/gametogo-dock.html">
          <img src="https://www.minwt.com.tw/images/product/datacolor/dt-sxp100/dt-sxp100_00.jpg" class="Img">
          <b>Datacolor SpyderX Pro <br>螢幕校色器-專業組</b>
        </a>
        <product barcode="gm-dock">
			</div>
			<div class="mwt-col-6 mwt-col-sm-3">
				<a href="gametogo/gametogo-dock.html">
          <img src="https://www.minwt.com.tw/images/product/GameToGo/dock/gametogo-dock_01.jpg" class="Img">
          <b>GAMETOGO DOCK多功能轉接器<br>內建Windows系統(不含序號)-512GB</b><br>
        </a>
        <product barcode="gm-dock">
			</div>
			<div class="mwt-col-6 mwt-col-sm-3">
				<a href="gametogo/gametogo-dock.html">
          <img src="https://www.minwt.com.tw/images/product/GameToGo/dock/gametogo-dock_01.jpg" class="Img">
          <b>GAMETOGO DOCK多功能轉接器<br>內建Windows系統(不含序號)-512GB</b><br>
        </a>
        <product barcode="gm-dock">
			</div>
		</div><!-- mwt-row-b -->
	</div>
</section>

<section id="blog-post">
	<div class="mwt-container">
		<h2>開箱文</h2>
		<div class="mwt-row-b">
			<div class="mwt-col-sm-4">
				 <a href="https://www.minwt.com/mac/21182.html" target="_blank">
					<div class="card-img">
		         <img src="https://www.minwt.com.tw/assets/images/blog01.jpg" class="Img">
		      </div>
		       <h4>插上 GameToGo MAC 變 Windows</h4>
		       <p>GameToGo Dock是連接埠擴充器，內建Windows系統，讓MAC秒變Windows […]</p>
	       </a>
			</div>
			<div class="mwt-col-6 mwt-col-sm-4">
				 <a href="https://www.minwt.com/mac/21182.html" target="_blank">
					<div class="card-img">
		         <img src="https://www.minwt.com.tw/assets/images/blog01.jpg" class="Img">
		      </div>
		       <h4>插上 GameToGo MAC 變 Windows</h4>
		       <p>GameToGo Dock是連接埠擴充器，內建Windows系統，讓MAC秒變Windows […]</p>
	       </a>
			</div>
			<div class="mwt-col-6 mwt-col-sm-4">
				 <a href="https://www.minwt.com/mac/21182.html" target="_blank">
					<div class="card-img">
		         <img src="https://www.minwt.com.tw/assets/images/blog01.jpg" class="Img">
		      </div>
		       <h4>插上 GameToGo MAC 變 Windows</h4>
		       <p>GameToGo Dock是連接埠擴充器，內建Windows系統，讓MAC秒變Windows […]</p>
	       </a>
			</div>

		</div>
	</div>
</section>

<footer id="footer">
	<div class="mwt-container">
		<div class="mwt-row-b">
			<div class="mwt-col-sm-4">
				<h3>顧客服務</h3>
				<ul>
					<li><a href="#">購物問題</a></li>
					<li><a href="#">發票問題</a></li>
					<li><a href="#">退貨/退款問題</a></li>
				</ul>
			</div>
			<div class="mwt-col-sm-4 col-sm-push-4">
				<h3>廠商合作</h3>
				<ul>
					<li><a href="#">填寫合作表單</a></li>
				</ul>
			</div>
			<div class="mwt-col-sm-4 col-sm-pull-4">
				<h3>聯絡我們</h3>
				<ul>
					<li>聯絡電話：02-23885319</li>
					<li>EMail：minwto@gmail.com</li>
					<li>客服時間：週一至週五 10:00-17:30(國定假日休假)</li>
				</ul>
			</div>

		</div>
	</div>
	<b>©2019 梅問題購物網 minwt.com.tw</b>
</footer>

<script async src=https://api.ushop.cool/tool/scripts/main.js shop=5502a9055fd0311a00ba8229></script>
</body>
</html>